<a href="https://colab.research.google.com/github/Mahaboba/ekra/blob/main/Ekra.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data={'Name':['X','Y','Z','W','U','V'],
     'Age':[20,21,19,23,35,30],
    'Height':[180, 160, 155, 190, 100, 165]}
pd_data = pd.DataFrame(data, index=['a','b','c','d','e','g'])
pd_data = pd_data.rename(columns={'Age':'Age(year)','Height': 'Height(cm)'},
                         index= {'g':'f'})
print(pd_data)
pd_data['Cum.Sum']= pd_data['Height(cm)'].cumsum()
pd_data['Dev. in Age']= pd_data['Age(year)'] - pd_data['Age(year)'].mean()
print(pd_data)
pd_data['R.Mean'] = pd_data['Height(cm)'].rolling(window=4).mean()

print(pd_data['R.Mean'])
pd_data = pd_data.transpose()
print(pd_data)

  Name  Age(year)  Height(cm)
a    X         20         180
b    Y         21         160
c    Z         19         155
d    W         23         190
e    U         35         100
f    V         30         165
  Name  Age(year)  Height(cm)  Cum.Sum  Dev. in Age
a    X         20         180      180    -4.666667
b    Y         21         160      340    -3.666667
c    Z         19         155      495    -5.666667
d    W         23         190      685    -1.666667
e    U         35         100      785    10.333333
f    V         30         165      950     5.333333
a       NaN
b       NaN
c       NaN
d    171.25
e    151.25
f    152.50
Name: R.Mean, dtype: float64
                    a         b         c         d          e         f
Name                X         Y         Z         W          U         V
Age(year)          20        21        19        23         35        30
Height(cm)        180       160       155       190        100       165
Cum.Sum           180       340       495       685        785       950
Dev. in Age -4.666667 -3.666667 -5.666667 -1.666667  10.333333  5.333333
R.Mean            NaN       NaN       NaN    171.25     151.25     152.5
  Name  Age(year)  Height(cm)
a    X         20         180
b    Y         21         160
c    Z         19         155
d    W         23         190
e    U         35         100
f    V         30         165
  Name  Age(year)  Height(cm)  Cum.Sum  Dev. in Age
a    X         20         180      180    -4.666667
b    Y         21         160      340    -3.666667
c    Z         19         155      495    -5.666667
d    W         23         190      685    -1.666667
e    U         35         100      785    10.333333
f    V         30         165      950     5.333333
a       NaN
b       NaN
c       NaN
d    171.25
e    151.25
f    152.50
Name: R.Mean, dtype: float64
                    a         b         c         d          e         f
Name                X         Y         Z         W          U         V
Age(year)          20        21        19        23         35        30
Height(cm)        180       160       155       190        100       165
Cum.Sum           180       340       495       685        785       950
Dev. in Age -4.666667 -3.666667 -5.666667 -1.666667  10.333333  5.333333
R.Mean            NaN       NaN       NaN    171.25     151.25     152.5

In [ ]:
_